body {
  font-family: 'Open Sans', sans-serif;
}

.header a {
  text-decoration: none;
  color: black;
}

.header a:hover {
  color: purple;
}

.container { 
  padding-left: 24px;
  padding-right: 24px;
}

ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
}

h3 {
  margin-bottom: 10px;
}

.column {
  float: left;
}

@media only screen and (max-width: 600px) {
  .left-top, .left-bottom {
    width: 100%;
  }

  .right-top, .right-bottom {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  .left-top {
    width: 70%;
  }

  .right-top {
    width: 30%;
  }

  .left-bottom {
    width: 75%;
  }

  .right-bottom {
    width: 25%;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  padding-right: 30px;
}
