.container { 
  padding-left: 40px;
  padding-right: 16px;
}

.column {
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 601px) {
  .stuff {
    display: none;
  }
  
  .review-body {
    width: 80%;
  }

  .left-top {
    width: 55%;
  }
  
  .books .left-top {
    width: 65%;
  }

  .right-top {
    width: 45%;
  }
  
  .books .right-top {
    width: 35%;
  }
  
  .left-bottom {
    width: 70%;
  }
  
  .books .left-bottom {
    width: 55%;
  }

  .right-bottom {
    width: 30%;
  }
  
  .books .right-bottom {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .left-top, .left-bottom {
    width: 100%;
  }
  
  .container { 
    padding-left: 16px;
  }

  /* .right-top {
    display: none;
  } */
  
  .review-body {
    width: 90%;
  }
}

/* padding */

.pb6 {
  padding-bottom: 6px;
}

.pl14 {
  padding-left: 14px;
}

.pl4 {
  padding-left: 4px;
}

.cp {
  padding: 0 16px;
}

.books .book-list {
  padding-left: 20px;
}

.no-bull {
  list-style: none;
}

.pt5 {
  padding-top: 5px;
}

.pt98 {
  padding-top: 98px;
}

.pt100 {
  padding-top: 140px;
}

.content {
  padding-right: 30px;
}

/* margins */

.mb2 {
 margin-bottom: 2px;
}

.mb4 {
 margin-bottom: 4px;
}

.mb6 {
 margin-bottom: 6px;
}

.mb8 {
 margin-bottom: 8px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb38 {
  margin-bottom: 38px;
}

.mt6 {
  margin-top: 6px;
}

.mt8 {
  margin-top: 8px;
}

.ml14 {
  margin-left: 14px;
}

.ml16 {
  margin-left: 16px;
}

.ml18 {
  margin-left: 18px;
}

.mt10 {
  margin-top: 10px;
}

.mt12 {
  margin-top: 12px;
}

.mt22 {
  margin-top: 22px;
}


.mt24 {
  margin-top: 24px;
}

.right-bottom ul {
  margin-left: 6px;
}

h3 {
  margin-bottom: 10px;
}

/* font */

body {
    font-family: 'Merriweather', serif;
  /* font-family: 'Open Sans', sans-serif; */
}

body li {
  font-family: 'Open Sans', sans-serif;
}

.sans {
  font-family: 'Open Sans', sans-serif;
}

a .back {
  color: gray;
  font-size: 14px;
}

.font38 {
  font-size: 38px;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

.gray {
  color: gray;
}

.serif {
  font-family: 'Merriweather', serif;
}

.note {
  font-size: smaller;
}

.nav-link {
  font-size: small;
}

.title {
  font-size: 1.4em;
}
.date {
  font-size: small;
}

/* links */

.container a {
  text-decoration: none;
  color: black;
}

.container a:hover {
  color: purple;
}

/* images */

figure {
  padding-bottom: 24px;
}

figure img {
  padding: 1px;
  border: 1px solid #021a40;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption {
  font-size: smaller;
  padding-top: 4px;
}

/* lists */

.dashed {
    list-style-type: '- ';
    padding-left: 12px;
}

.dashed li {
    padding-bottom: 6px;
}

.main ul {
  list-style-type: none;
  margin-left: 4px;
  margin-top: 10px;
  padding: 0;
}

.list-head {
  list-style-type: none;
  margin-bottom: 6px;
}

.books ul {
  padding-left: 18px;
}

.books ul li {
  list-style-type: disc;
}

.books .no-bull {
  list-style-type: none; 
}

/* hr */

hr {
  border-top: 1px solid #E0E0E030;
  color: #E0E0E070;
}

.example_a {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.example_a:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  /* padding-top: 300%; */
  /* padding-left: 350%; */
  /* margin-left: -20px!important; */
  /* margin-top: -120%; */
  opacity: 0;
  transition: all 0.8s
}

.example_a:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  background-color: gray;
  border: none;
  color: #fff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  /* box-shadow: 0 5px 15px #193047; */
  /* border-radius: 4px; */
}

.button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px gray;
  color: #000;
}

.button:after {
  content: "";
  background: gray;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button:focus { outline:0; }

/* Pagination links */
.pagination a {
 color: black;
 float: left;
 padding: 8px 16px;
 text-decoration: none;
 transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
 background-color: #9f9f9f;
 color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;} 

.dates table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
